!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title 404 - Oh noes, Adam's not sure what you're looking for
    %link{:rel => 'stylesheet', :href => '/404.css', :media => "screen,projection"}

    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    %meta{:content => "initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0", :name => "viewport"}

    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}

    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{:name => "description", :content => "Sugar Plumps and Fire Stars" }  
    
  %body
    #content
      404 - not found.