@import helpers.sass
@import menu.sass
@import post.sass
@import tweet.sass
@import templates.sass

body
  background-image: url(/images/background.png)
  background-attachment: fixed
  font-family: Helvetica
  color: white
  text-shadow: 0px 2px 0px #000
  padding: 0
  margin: 0

.button
  cursor: pointer
  font-family: Gill Sans
  text-decoration: none
  color: #fff
  &:first-letter
    :color #fb1258
  &:hover
    :color #04a5f6

a
  font-family: Gill Sans
  text-decoration: none
  color: #fb1258
  &:first-letter
    :color #fb1258
  &:hover
    :color #04a5f6

h1, h2, h3, h4, h5, h6, .title
  margin: 4px 0
  font-family: Gill Sans
  font-weight: normal
  color: #04a5f6

#dashboard
  z-index: 1

#menu
  z-index: 2
  
#admin
  +dashboard-widget
  +rounded-bottom
  top: 0
  left: 80px

#social
  +dashboard-widget
  +rounded-top
  padding: 10px
  bottom: 0
  right: 80px
  
#templates
  display: none

input
  font-family: Helvetica
  font-size: 12pt
  border: 3px solid #444
  outline: none
  padding: 6px

.left
  float: left

.right
  float: right

.clear
  clear: both

.disabled
  opacity: 0.5

.hidden
  display: none