
#application
  #dashbaord
    #admin
      #login.button login
      #createPost.button.hidden create post
      #createToy.button.hidden create toy
      #logout.button.hidden logout
    #tweet
    #social
      %img{:src => "/images/social/twitter.png"}
      %img{:src => "/images/social/flickr.png"}
      %img{:src => "/images/social/facebook.png"}
      %img{:src => "/images/social/youtube.png"}
      /%img{:src => "/images/social/vimeo.png"}
      /%img{:src => "/images/social/digg.png"}
      %img{:src => "/images/social/reddit.png"}
      %img{:src => "/images/social/lastfm.png"}
      %img{:src => "/images/social/linkedin.png"}
      /%img{:src => "/images/social/feed.png"}
      %img{:src => "/images/social/email.png"}

  #menu
    #adamelliot
      adamelliot
    #blog
      blog
    #pics
      pics
    #bio
      bio

#templates
  .frame
    .close.button close
    .block
    .toolbar
  
  .error
    %h3 Something went wrong =/
    .message 

  .post
    .date
    %h1.title
    .body

  .postForm
    %form
      %h3 title:
      %input.title{:type => 'text', :name => 'title', :value => ''}
      %h3 body:
      %textarea.body{:name => 'body'}

  .loginForm
    %form
      %h3 username:
      %input.username{:type => 'text', :name => 'username'}
      %h3 password:
      %input.password{:type => 'password', :name => 'password'}

  .bio
    ME!
