
#application
  #dashbaord
    #admin
      #login.button login
      #createPost.button.hidden create post
      #createToy.button.hidden create toy
      #logout.button.hidden logout
    #tweet
    #social
      %a{:href => 'http://twitter.com/adam_elliot', :target => '_blank'}
        %img{:src => "/images/social/twitter.png"}
      %a{:href => 'http://www.flickr.com/photos/30782515@N02/', :target => '_blank'}
        %img{:src => "/images/social/flickr.png"}
      %a{:href => 'http://www.facebook.com/adamelliot', :target => '_blank'}
        %img{:src => "/images/social/facebook.png"}
      %a{:href => 'http://www.youtube.com/user/astrobombastic', :target => '_blank'}
        %img{:src => "/images/social/youtube.png"}
      %a{:href => 'http://www.reddit.com/user/astro_bombastic/', :target => '_blank'}
        %img{:src => "/images/social/reddit.png"}
      %a{:href => 'http://www.last.fm/user/adamelliot', :target => '_blank'}
        %img{:src => "/images/social/lastfm.png"}
      %a{:href => 'http://ca.linkedin.com/pub/adam-elliot/1/690/899', :target => '_blank'}
        %img{:src => "/images/social/linkedin.png"}
      /%img{:src => "/images/social/feed.png"}
      %a{:href => 'mailto:adam@adamelliot.com?subject=Hello', :target => '_blank'}
        %img{:src => "/images/social/email.png"}

  #menu
    #adamelliot
      adamelliot
    #blog
      blog
    #pics
      pics
    #bio
      bio

#templates
  .shared
    .frame
      .close.button close
      .block
      .toolbar

    .list
      %h2.title
    
    .listItem
      %h3.title
      .date
      .description

    .error
      %h2.title Error
      .message Uh oh...

    .notice
      %h2.title Warning
      .message Are you sure you want to eat that?

  .post.index

  .post.show
    .date
    %h1.title
    .body

  .post.form
    %form
      %input.id{:type => 'hidden', :name => 'id'}
      %h3 title:
      %input.title{:type => 'text', :name => 'title', :value => ''}
      %h3 body:
      %textarea.markdown{:name => 'markdown'}

  .session.form
    %form
      %h3 username:
      %input.username{:type => 'text', :name => 'username'}
      %h3 password:
      %input.password{:type => 'password', :name => 'password'}

  .bio
    ME!
