
#application
  #menu
    #adamelliot
      adamelliot
    #blog
      blog
    #pics
      pics
    #bio
      bio

#templates
  .frame
    .close close
    .block
    .toolbar

  .post
    .date
    .title
    .body