!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Adam Elliot
    %link{:rel => 'stylesheet', :href => '/application.css', :media => 'screen,projection'}/
    %link{:rel => 'stylesheet', :href => '/stylesheets/idle.css', :media => 'screen,projection'}/
    %link{:rel => 'stylesheet', :href => '/ipad.css', :media => "only screen and (max-device-width: 1024px)"}/

    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    %meta{:content => "initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0", :name => "viewport"}

    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}

    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://adamelliot.myopenid.com/"}

    /%link{:rel => "alternate", :type => "application/rss+xml", :title => "Adam Elliot RSS Feed", :href => 'feed.rss'}

    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{:name => "keywords", :content => "ruby, javascript, poi, web, tech, iphone" } 
    %meta{:name => "description", :content => "Sugar Plumps and Fire Stars" }  
  %body
    = yield

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}

    - if Application::Server.environment == :development
      %script{:src => "/javascripts/canvas_object/color.js"}
      %script{:src => "/javascripts/canvas_object/events.js"}
      %script{:src => "/javascripts/canvas_object/geometry.js"}
      %script{:src => "/javascripts/canvas_object/motion.js"}
      %script{:src => "/javascripts/canvas_object/canvas_object.js"}

      %script{:src => "/javascripts/inflection.js"}
      %script{:src => "/javascripts/pure_packed.js"}
      %script{:src => "/javascripts/modernizr-1.6.min.js"}
      %script{:src => "/javascripts/jquery.tweet.js"}
      %script{:src => "/javascripts/jquery.ba-hashchange.min.js"}

      %script{:src => "/javascripts/framework.js"}
      %script{:src => "/javascripts/menu.js"}
      %script{:src => "/javascripts/toy.js"}
      %script{:src => "/javascripts/pics.js"}
      %script{:src => "/javascripts/controllers.js"}
      %script{:src => "/javascripts/application.js"}
    - else
      %script{:src => "/javascripts/app.js"}

    - if Application::Server.environment == :production
      %script{:type => "text/javascript"}
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{:type => "text/javascript"}
        try {
        var pageTracker = _gat._getTracker("UA-8838497-1");
        pageTracker._trackPageview();
        } catch(err) {}
