!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Adam Elliot
    %link{:rel => 'stylesheet', :href => '/application.css', :media => 'screen,projection'}
    %link{:rel => 'stylesheet', :href => 'http://brightly.warptube.com/stylesheets/idle.css', :media => 'screen,projection'}

    /%meta{:content => "width=420", :name => "viewport"}

    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://adamelliot.myopenid.com/"}
    
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Adam Elliot RSS Feed", :href => 'feed.rss'}

    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{:name => "keywords", :content => "ruby, javascript, poi, web, tech, iphone" } 
    %meta{:name => "description", :content => "Sugar Plumps and Fire Stars" }  
  %body
    = yield

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"}
    %script{:src => "javascripts/inflection.js"}
    %script{:src => "javascripts/pure_packed.js"}
    %script{:src => "javascripts/framework.js"}
    %script{:src => "javascripts/menu.js"}
    %script{:src => "javascripts/controllers.js"}
    %script{:src => "javascripts/jquery.ba-hashchange.min.js"}
    %script{:src => "javascripts/application.js"}
    %script{:src => "javascripts/jquery.tweet.js"}

    %script{:src => "javascripts/canvas_object/common.js"}
    %script{:src => "javascripts/canvas_object/color.js"}
    %script{:src => "javascripts/canvas_object/events.js"}
    %script{:src => "javascripts/canvas_object/geometry.js"}
    %script{:src => "javascripts/canvas_object/motion.js"}
    %script{:src => "javascripts/canvas_object/canvas_object.js"}

    %script{:src => "javascripts/toy.js"}
