.frame
  position: fixed
  margin: 170px 0 0 0
  & > .toolbar
    text-align: right
    padding: 0 22px
    .button
      +rounded-top
      display: inline
      float: right
      margin: 0 4px
      padding: 8px 10px
      background-image: url(/images/alpha-black-background.png)
    & > .close
      float: left

  & > .navbar
    text-align: right
    padding: 0 22px
    .button
      +rounded-bottom
      display: inline
      float: right
      margin: 0 4px
      padding: 8px 10px
      background-image: url(/images/alpha-black-background.png)

  .block
    clear: both

  .frameChase
    position: absolute
    bottom: -120px
    height: 0
    overflow: hidden
    font-size: 0

.unsupported
  +frame-content
  width: 350px
  font-size: 10pt
  a
    font-size: 14pt
  ul
    list-style-type: armenian
  li
    padding: 4px

.form
  +frame-content
  padding: 8px 14px 14px 14px

.session.form
  width: 200px

.post, .toy
  .date
    text-shadow: 0px 1px 0px #000
    float: right
    color: #666
    font-size: 9pt

.post.index
  +frame-content
  width: 500px
  font-size: 10pt
  .row
    cursor: pointer
    padding: 8px
    h1
      :color #fb1258
  .row:hover
    h1
      :color #04a5f6

.post.show
  +frame-content
  width: 600px
  font-size: 10pt
  .body
    color: #fff
    pre
      +rounded
      :overflow auto
      :text-shadow none
      :padding 6px
      :max-width 588px
      :font-size 8pt

.post.form
  width: 600px
  input[name=title]
    width: 460px
  textarea
    width: 580px
    min-height: 240px
  input[name=tags]
    width: 460px

.toy.index
  +frame-content
  width: 500px
  font-size: 10pt
  .row
    cursor: pointer
    padding: 8px
    h1
      :color #fb1258
  .row:hover
    h1
      :color #04a5f6

.toy.show
  +frame-content
  width: 500px
  font-size: 10pt
  .body
    color: #fff

  canvas
    +rounded
    margin: 6px auto
    background-color: #fff
    display: block

  .controls
    font-family: Helvetica, Arial, sans-serif
    float: right
    padding: 0 12px
    .control
      cursor: pointer
      font-size: 16pt
      color: #ddd
      width: 24px
      padding: 0 6px
      float: left
      text-align: center
      &:hover
        color: #444
    .label
      margin-top: -4px
      font-size: 9pt
      clear: both

.toy.form
  width: 600px
  input[name=title]
    width: 460px
  textarea
    width: 580px
    min-height: 140px
  input[name=tags]
    width: 460px
